body {

}
h1 {

}
h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

@media screen and (max-width: 500px) {
  h1 , h2 {
    font-size: 20px;
    text-align: center;
  }

  p {
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
  }

  figure {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  figcaption {
    text-align: center;
  }
}

@media screen and (max-width: 830px) and (min-width: 500px) {
  body {
    background-color: aqua;
  }
}