* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.super-mario {
    position: absolute;
    height: 300px;
    left: 150px;
    border-radius: 40px;
    z-index: 2;
}

.goomba {
    position: absolute;
    height: 300px;
    top: 300px;
    right: 400px;
    z-index: 1;
}

.baloon {
    position: absolute;
    height: 100px;
    top: 40px;
    z-index: 3;
    border-radius: 500px;
}

.word {
    position: absolute;
    top: 60px;
    z-index: 4;
    width: 80px;
    left: 40px;
    
}
.bowser {
    position: absolute;
    right:50px;
    height: 400px;

}
