*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#cabecalho {
    background-color: rgb(211, 127, 0);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header p {
    font-size: 30px;
}

#stomatopoda {
    font-weight: bold;
    font-size: 40px;
}

#menu {
    background-color: rgb(97, 97, 97);
    
}

nav  {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding-left: 50px;
    
}

a:hover {
    text-shadow: 1px 1px 20px ;
}

.img-stomato {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}

img {
    padding: 10px;
    height: 600px;
}
section{
    position: relative;
}
section h2 {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    
}

.fatos{
    width: 100%;
    height: 100vh;
    text-align: center;
    
}

.fatos h2{
    border-bottom: solid 1px rgb(245, 4, 4);
    top: 0px;
}

.fatos-curiosos, .fatos-cientificos{
    font-size: 1.5rem;
    position: relative;
    top: 7vh;
}

.fatos-cientificos{
    margin-top: 4rem;
}

.negrito{
    font-weight: 600;
}

.fatos-curiosos, .fatos-cientificos{
    display: inline-block;
}