*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#cabecalho {
    background-color: rgb(211, 127, 0);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header p {
    font-size: 30px;
}

#stomatopoda {
    font-weight: bold;
    font-size: 40px;
}

#menu {
    background-color: rgb(97, 97, 97);
    
}

nav  {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding-left: 50px;
    
}

a:hover {
    text-shadow: 1px 1px 20px ;
}

.img-stomato {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}

img {
    padding: 10px;
    height: 600px;
}

section h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

